body,
html {
  width: 100%;
  height: 100%;
  background: url(./images/header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.buffer{
    height: 5rem;
}
h1 {
  font-size: 3rem;
  color: white;
}


.btn {
  font-weight: 700;
  border-radius: 200px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: orangered;
  border-color: orangered;
}

.btn-primary:hover {
  background-color: orange;
  border-color: orange;
}

.btn-xl {
  padding: 1rem 2rem;
}
